google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.19.0
google-cloud-vision==3.9.0
google-crc32c==1.6.0
google-generativeai==0.8.3
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.68.1
grpcio-status==1.68.1
gTTS==2.5.4
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mysql-connector-python==9.1.0
networkx==3.4.2
pandas==2.2.2
plotly==5.24.1
pypdf==5.1.0
PyPDF2==3.0.1
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==0.10.1
SpeechRecognition==3.13.0
streamlit==1.41.1
streamlit-authenticator==0.4.1

